---
import {ClearButton} from "~/components/buttons/clear-button";
import { HomeSubmitButton } from "~/components/link/home-submit-button";
import { LinkInput } from "~/components/link/input";
import { LinkPasteButton } from "~/components/link/link-paste-button";
import Layout from "~/layouts/layout.astro";
---

<Layout>
  <main class="container h-full">
    <div class="flex h-full flex-col items-center justify-center">
      <form action="/main" class="w-full" method="get">
        <div class="flex gap-4">
          <div class="flex-1" transition:name="link-input">
            <LinkInput client:load transition:persist="link-input" />
          </div>
          <div>
            <ClearButton type="reset" />
            <LinkPasteButton client:load />
          </div>
        </div>
        <div class="mt-4 flex justify-center">
          <HomeSubmitButton client:load />
        </div>
        <input class="hidden" id="video-id" name="video-id" />
      </form>
    </div>
  </main>
</Layout>
