---
import { ClearButton } from "~/components/buttons/clear-button";
import { LinkInput } from "~/components/link/input";
import { LinkPasteButton } from "~/components/link/link-paste-button";
import { SubmitButton } from "~/components/link/submit-button";
import { Player } from "~/components/youtube/player";
import Layout from "~/layouts/layout.astro";
---

<Layout>
  <header class="container py-4">
    <div class="flex h-full flex-col items-center">
      <nav class="flex w-full items-center gap-4">
        <div class="flex flex-1 gap-4">
          <div class="flex-1">
            <LinkInput client:load />
          </div>
          <div>
            <ClearButton client:load />
            <LinkPasteButton client:load />
          </div>
        </div>
        <div class="flex justify-center">
          <SubmitButton client:load />
        </div>
      </nav>
    </div>
  </header>
  <main class="container">
    <Player client:load />
  </main>
</Layout>
